label,
textarea {
  font-size: .8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  width: 90%;
  line-height: 1.2;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}

div.tab-content > button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: block;
  font-size: 12px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1rem;
  padding: 5px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: auto;
  margin-bottom: 2px;
}

div > button:hover,
div > button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

div > button:hover {
  transform: translateY(-1px);
}

div > button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.tab-container {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  background-color: #fff;
}

.tabs {
  display: flex;
  overflow: hidden;
}
.tabs button {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #fc7904;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fc7904;
  color: #fff;
  opacity: 0.9;
}
.tabs button:hover {
  opacity: 1;
}
.tabs .non-active {
  opacity: 0.6;
}

.hidden {
  display: none;
}

a {
  color: #fc7904;
  text-decoration: none;
}